*.o
*.bin
# Seu dontpad foi invadido por um bot desenvolvido para concientizar os usuários sobre o uso perigoso do dontpad em relação a dados sensíveis. Somos uma comunidade de hackers do bem focados nos estudos e no aprendizado. Entre no nosso discord: https://discord.gg/RNeCH9HeGU 
